<nav class="navbar navbar-light bg-light">
   <%= link_to root_path do  %>
	 <span class="navbar-brand mb-0 h1">All the Gifs</span>
   <% end %>
   
   <% if signed_in? -%>
    <div class="navbar-right my-lg-2 my-2">
      <%= button_to "Sign Out", sign_out_path, method: :delete, class: "btn btn-primary" %>
 	</div>
   <% else -%>
      <%= link_to t(".sign_in"), sign_in_path, class: "btn btn-primary" %>
   <% end -%>
</nav>